@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
}
a{color: inherit; text-decoration: none;}
button{cursor: pointer;}
body,html{min-width: 960px;}
.clear{clear: both; position: inherit;}

header{height: 150px;}
#header_div{padding-top: 10px;}

.logo{height: 100px; overflow: hidden; float: left;}
.logo a img {width: 250px; margin-top: -50px;}

nav{float: right; margin-top: 30px; padding: 10px;}
.nav{width: 600px; height: 20px;}
.nav li {
    float: left; width: 200px; text-align: center;
    position: relative; transition: all .4s;
    padding: 5px 0;
}